header, footer {
    background-color: #003251;
    color: white;
    width: 100%;
    position: fixed;
    z-index: 1000;
}
header {
    top: 0;
}
footer {
    bottom: 0;
    padding: 10px;
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding-top: 40px; /* Adjust padding top to push main content below the fixed header */
    background-color: #fffffa;
}
main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputfield{
    width: 100% !important;
    border-radius: 20px !important;
}