<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Create Amortization Page</title>
    <link th:href="@{/css/style.css}" rel="stylesheet">
</head>
<body>
<header>
    <h2 class="p-1">FinDer</h2>
</header>
<div class="container d-flex justify-content-center align-items-center flex-grow-1">
    <div class="card text-center p-3" style="background-color:#fffefc;" id="login-card">
        <h2 class="card-title p-3">Created Amortization</h2>
        <table class="table table-striped table-dark">
            <thead>
            <tr>
                <th scope="col" th:text="|\(\large\text{Period}\)|"></th>
                <th scope="col" th:text="|\(\large\text{Coupon Payment}\)|"></th>
                <th scope="col" th:text="|\(\large\text{Effective Interest Earned}\)|"></th>
                <th scope="col" th:text="|\(\large\text{Amortized Amount}\)|"></th>
                <th scope="col" th:text="|\(\large\text{Book Value}\)|"></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="|\(\large 0 \)|"></td>
                <td></td>
                <td></td>
                <td></td>
                <td th:text="|\(\large${amortizationValues.bondPrice}\)|"></td>
            </tr>
            <tr th:each="entry: ${amortizationValues['amortizationSchedule'].entrySet()}">
                <td th:text="|\(\large${entry.value['rowId']}\)|"></td>
                <td th:text="|\(\large${amortizationValues.couponPayment}\)|"></td>
                <td th:text="|\(\large${entry.value['effectiveInterestEarned']}\)|"></td>
                <td th:text="|\(\large${entry.value['amortizedAmount']}\)|"></td>
                <td th:text="|\(\large${entry.value['bondPrice']}\)|"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<footer>
    Arda Kilic 2023
</footer>
</body>
</html>
<script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
<script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js"></script>